# .env
COMFYUI_HOST=comfy.surfai.org
NGINX_USERNAME=your_nginx_username
NGINX_PASSWORD=your_nginx_password
FRONTEND_URL=http://localhost:4000
PORT=3000

# postgres
DATABASE_URL=postgresql://your_db_username:your_db_password@localhost:5432/your_db_database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_database
SESSION_SECRET=secret

# node env
NODE_ENV=development

# storage
STORAGE_PROVIDER=r2

# cloudflare
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=your_r2_bucket_name

# google sign-in api
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
ADMIN_EMAILS=account@mail.com,account2@mail.com